<html>

    <%- include('../partials/head'); %>
    
    <body class="container">
        
        <%- include('../partials/header'); %>

        <main>
            <div class="jumbotron text-right">
                <h1>Sobre Mim</h1>
                <p>Me chamo Gabriel Lucas Perosso Alves <br> Gosto muito de programação, mas eu amo mesmo Jesus!</p>
            </div>
        </main>


    </body>

    <%- include('../partials/footer'); %>


</html>